<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">
    <Properties>
        <property name="spring.application.name">XXXXXXXXX</property>
        <property name="logging.pattern.console">%d{HH:mm:ss.SSS} [%t] %-5level %X{transactionId} %logger{36} - %msg%n</property>
        <property name="logging.path">logs/${spring.application.name}/</property>
        <property name="logging.file">application.log</property>
        <property name="logging.file.roll-pattern">application-%d{yyyy-MM-dd}-%i.log</property>
        <property name="logging.file.max-size">10MB</property>
        <property name="logging.file.max-history">5</property>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="${logging.pattern.console}"/>
        </Console>

        <RollingFile name="LogFile"
                     fileName="${logging.path}${logging.file}"
                     filePattern="${logging.path}${logging.file.roll-pattern}">
            <PatternLayout pattern="${logging.pattern.console}"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="${logging.file.max-size}"/>
            </Policies>
            <DefaultRolloverStrategy max="${logging.file.max-history}"/>
        </RollingFile>
    </Appenders>
    <Loggers>

        <Logger name="com.navercorp.linepay" additivity="false">
            <AppenderRef ref="LogFile"/>
            <AppenderRef ref="Console"/>
        </Logger>

        <Root level="info">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>



    <!--
    Step 1 - Specify the property name and its variable in log4j2-spring.xml as below

<Configuration status="warn">
    <Properties>
        <Property name="someProp">${bundle:test:someKey}</Property>
    </Properties> 
    
</Configuration>
        Step 2 - Use the above defined property in the log configuration e.g. suffix to log file name

<Appenders>
<File name="file" fileName="/path/to/logs/app-${someProp}.log">
    <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5p %-40c{1.} - %m%n"/>
</File>
</Appenders>
        Step 3 - Create a bundle (viz. properties file) to hold the properties value e.g. test.properties

        # properties for log4j2
        someKey=someValue
        someKey1=someValue1
    -->
